@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

h2 {
  font-family: 'Playfair Display', serif;
  color: #2b3a67;
}
.holder {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.colOne {
  order: 1;
  flex: 1;
  align-items: stretch;
  background-color: aqua;
}

.colOne {
  background-image: url('https://i.postimg.cc/DydQLx35/aacf9705e4162910489bf783d40663e8.jpg');
  height: 100vh;
  width: auto;
}

.colTwo {
  order: 2;
  flex: 0.5;
  justify-content: center;
  align-items: center;
  align-content: center;
}
